{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modif {% endblock %}
{% block contenu %}
<h1 style = "text-align: center; margin-bottom: 2%;margin-top: 2%;">Modifier</h1>
<div style="display: flex; justify-content: center; margin-top: 50px">

<form action="index.php?page=modifmanga" method="post" enctype="multipart/form-data"  style="width: 50%;">

<input type="text" id="titre" name="titre" class="form-control" placeholder="Titre" required autofocus style="margin-bottom: 15px;" value="{{form.titremanga}}"> </select>

<input type="text" id="description" name="description" class="form-control" placeholder="Description" required autofocus style="margin-bottom: 15px;" value="{{form.descriptionmanga}}"> </select>

<input type="number" id="nbtome" name="nbtome" class="form-control" placeholder="Nombre de tome" required autofocus style="margin-bottom: 15px;" value="{{form.nbtome}}"> </select>

<input type="text" id="auteur" name="auteur" class="form-control" placeholder="Auteur" required autofocus style="margin-bottom: 15px;" value="{{form.auteur}}"> </select>

<input type="text" id="dessinateur" name="dessinateur" class="form-control" placeholder="Dessinateur" style="margin-bottom: 15px;" value="{{form.dessinateur}}"> </select>

<input type="date" id="sortiedate" name="sortiedate" class="form-control" placeholder="Date de sortie" style="margin-bottom: 15px;" value="{{form.sortiedate}}"> </select>

<input type="float" id="prix" name="prix" class="form-control" placeholder="Prix" style="margin-bottom: 15px;" value="{{form.prix}}"> </select>

<select class="form-control" id="statut" name="statut" style="margin-bottom: 15px;">
   <option value="1">Termine</option>
   <option value="2">En cours</option>
   <option value="3">En pause</option>
</select>
<input type="hidden" name="id" value="{{ form.manga.id}}"/>

<button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifmanga" style="margin-top: 30px; margin-bottom: 30px; text-align: center;">Actualiser les informations</button>
</div>

</form>
{% endblock %}
